@import 'src/assets/styles/basic.scss';

.panel {
  display: inline-block;
  position: relative;

  .panel-heading {
    height: 40px;
    padding: 0 12px;
    padding-right: 6px;
    line-height: 40px;
    background-color: #fafafa;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    justify-content: space-between;

    .panel-title {
      font-weight: $font-weight-semibold;
    }

    .panel-controls {
      width: 100%;
      padding-left: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .panel-body {
    position: relative;
    padding: 12px;
    background-color: #ffffff;
    border-top: 0 !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .loading-wrapper {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .empty-wrapper {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

[data-bs-theme='dark'] {
  .panel-heading {
    background-color: $gray-700;
  }
  .panel-body {
    background-color: $dark;
  }
}
