@import 'src/assets/styles/basic.scss';

.modal {
  &.show {
    display: block;
  }

  .modal-title {
    flex-grow: 1;
    font-weight: bold;
  }

  .btn-close {
    flex-shrink: 0;
  }
}

[data-bs-theme='dark'] {
  .modal {
    background-color: $dark;
  }
}
