@import 'src/assets/styles/basic.scss';

.navbar {
  flex-shrink: 0;
  width: 100%;
  line-height: 28px;
  height: 51px;
  background-color: #fafafa;

  .breadcrumb {
    margin-bottom: 0;
    font-size: 12px;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .breadcrumb-item.current {
    font-weight: bold;
    font-size: 18px;
  }

  .breadcrumb-item.icon {
    color: $primary;
  }
}

[data-bs-theme='dark'] {
  .navbar {
    background-color: $dark;
  }
}
